#content
{
	margin-top: 30px;
	font-family: Armata Regular;
	text-align:center;
}

table
{
	width:50%;
	margin-left:25%;
}

th
{
	text-align:left;
	border-bottom:1px solid white;
	padding-bottom:15px;
	padding-left:20px;
}

tr
{
	height: 30px;
}

td
{
	border-bottom: 1px solid white;
	text-align:left;
	padding-left:20px;
}

form
{
	background-color:rgba(41,128,185,0.5);
	width:50%;
	height:50px;
	margin-left:25%;
	padding-top:10px;
}

form[name="sync"] > input[type="submit"]
{
	width:200px;
}

input
{
	border: 0px;
	font-family: Armata Regular;
	font-size: 20px;
	text-align: center;
	height: 40px;
	width: 200px;
	background-color:rgba(41,128,185,0.5);
	color:white;
}

input[type="submit"]
{
	width:100px;
}

::-webkit-input-placeholder
{
	font-family: Armata Regular;
	font-size: 20px;
	color:#C8C8C8;
}
::-moz-placeholder
{
	font-family: Armata Regular;
	font-size: 20px;
	color:#C8C8C8;
}
input:-moz-placeholder
{
	font-family: Armata Regular;
	font-size: 20px;
	color:#C8C8C8;
}
:-ms-input-placeholder
{
	font-family: Armata Regular;
	font-size: 20px;
	color:#C8C8C8;
}
