#header
{
	/border-bottom: 2px dashed white;
	display: block;
	top: 0px;
	height: 120px;
	position: static;
	color: black;
	font-family: DestructoBeam BB;
	font-size: 70px;
	text-align: center;
	/*text-shadow: 5px 5px 10px black;*/
	background-color:#2980b9;
}

#hcont
{
	position: relative;
	top: 25px;
}